.headerWrap {
    background: #ffff;
    text-align: center;
    overflow:hidden;
    margin:10px;
  }
  
  .header {
    margin: 5px 0 25px;
    font-weight: bold;
    position: relative;
    display:inline-block;
    color: #0072bc;
    position: relative;
  }
  
  .header:before {
    content:"";
    position: absolute;
    right: 0;
    top:100%;
    left: -100vw;
    height:10px;
    background:
      linear-gradient(#0072bc,#0072bc) top,
      linear-gradient(#0072bc,#0072bc) bottom;
    background-size:100% 6px,100% 2px;
    background-repeat:no-repeat;
  }